/**
 * Maps Module Style Sheet for Phire CMS 2
 */

#map-form {
    margin: 10px auto 10px auto;
    padding: 15px 0 15px 0;
    width: 100%;
    border-top: solid 1px #ccc;
}

#map-form > dl:first-child {
    margin: 0 0 0 20px;
    padding: 0 0 0 20px;
    width: 160px;
    border-left: solid 1px #ccc;
    float: right;
    min-height: 400px;
    height: 100%;
}

#map-form > dl:first-child > dd, #map-form > dl:first-child > dt {
    width: 100%;
}

#map-form > dl:first-child > dt {
    margin: 0 0 5px 0;
    border-bottom: dotted 1px #aaa;
}

#map-form-field-group-2 {
    margin: 0;
    padding: 0;
    clear: left;
    width: calc(100% - 220px);
}

#map-form-field-group-2 > dd {
    padding: 4px
}

#map-form-field-group-2 > dt, #map-form-field-group-2 > dd {
    width: 98%;
}

.maps-nav-icon:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f041";
    display: inline-block;
    margin: 0;
    padding: 0 5px 0 0;
    vertical-align: middle;
    color: #b4b5b4;
    font-size: 1.5em;
    width: 25px;
    text-align: center;
}

.maps-header {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
}

.maps-header:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f041";
    margin: 0;
    padding: 0 8px 0 0;
    color: #b4b5b4;
}